include navbar
div(ng-init="drawText='#{__('Enable Drawing')}'; doneDrawText='#{__('Clear Drawing')}'; loDraw='#{__('Lock Drawing')}';")
	span(ng-init="dte='#{__('Enable Drawing')}'; dtd='#{__('Disable Drawing')}';")
	span(ng-init="unLoDraw='#{__('Disable Drawing')}'; noSubs='#{__('No subscribers at this site.')}'; newAlert='#{__(': New Alert Created')}';")
	span(ng-init="newAlertName= '#{__('New Alert Created with Name: ')}'; alertSaved='#{__(': Alert Saved')}'; ")
	span(ng-init="coordinatesText='#{__('Coordinates: ')}'; messageContentText='#{__('Message Content:')}'; ")
	span(ng-init="alertSavedTitle='#{__('Alert Saved!')}'; alertSent='#{__(': Alert Sent')}'; towersInScopeText='#{__('Towers in Scope of the alert: ')}';")
	span(ng-init="msisdnsInScopeText='#{__('MSISDNs in Scope')}'; alertSendingMessage='#{__('Alert sending is triggered. Check status tab to view status of alert!')}';")
	div(class="col-lg-2")
		br
		br
		form(role="form" class="form-horizontal col-lg-12")
			div(class="form-group")
				label #{__('Event Name: ')}
				br
				input(type='text' ng-model='alertName')
				br
				br
				button(type="button" class="btn btn-hs" ng-click="addAlert($event); alertName='';") #{__('Create Event')}
		div(class="col-lg-12")
			table(class="table table-hover")
				thead
					//th Event ID
					th #{__('Event Name')}
					th
				tbody
					tr(ng-if="alertsArr=={}") 
						td #{__('No events present.')}
					tr(ng-repeat="(key, alert) in alertsArr" ng-click="selectAlert(key, alert.name, $event)" ng-class="{warning: selectedRows.indexOf(key)>-1}")
						//td {{key}}
						td {{alert.name}}
						td
							span(class="glyphicon glyphicon-minus-sign" ng-click="deleteAlert(key, $event)")
	div(class="col-lg-10" ng-class="{hidden: (selectedRows.length==0)}")
		h4 {{selectedRows[1]}} &nbsp;
			small #{__('ID: ')} {{selectedRows[0]}}

		ul.nav.nav-tabs
			li(ng-click="tabClick('map', $event)" ng-class="{active: visibleTab=='map'}") 
				a #{__('Select Area')}
				//Área Seleccionada
			li(ng-click="tabClick('sms', $event)" ng-class="{active: visibleTab=='sms'}") 
				a #{__('Message Content')}
				//Contenido del Mensaje
			li(ng-click="tabClick('status', $event)" ng-class="{active: visibleTab=='status'}") 
				a #{__('Status')}
		div(ng-class="{hidden: !(visibleTab=='map')}")
			br
			div
				div(hello-maps="" latitude="24" longitude="-102.5" class="google-alert-map" ng-click="showCoordinates($event)" zoom="10")
				div.button-overlay
					button(type="button" class="btn btn-hs" ng-click="toggleDrawing($event)" ng-class="{disabled: doneDrawingVal}") {{drawText}}
					&nbsp;
					button(type="button" class="btn btn-hs" ng-click="doneDrawing($event)" ng-class="{disabled: (polyArr.length<3)}") {{doneDrawText}}
			div(class='row')
				p(class='col-lg-4') #{__('Drawing Mode: ')}
					//Actual modo de dibujo: 
					label(ng-if="!enableDraw") #{__('Disabled')}
					//Deshabilitado 
					label(ng-if="enableDraw") #{__('Enabled')}
					//Habilitado 
				p(class='col-lg-4') 
					//Actual mode de bloqueo: 
					label(ng-if="!doneDrawingVal") #{__('Unlocked')}
					//Desbloqueado 
					label(ng-if="doneDrawingVal") #{__('Locked')}
					//Bloqueado

		div(ng-class="{hidden: !(visibleTab=='sms')}")
			br
			div.col-lg-12.sms-content
				label.col-lg-2 #{__('Default: ')}
				//Por Defecto: 
				textarea.col-lg-9(ng-model="smsContent.Default")
			div.col-lg-12.sms-content
				label.col-lg-2 #{__('Spanish: ')}
				//Español: 
				textarea.col-lg-9(ng-model="smsContent.DE")
			div.col-lg-12.sms-content
				label.col-lg-2 #{__('English')}
				//Inglés: 
				textarea.col-lg-9(ng-model="smsContent.EN")
			div.col-lg-12.sms-content
				label.col-lg-2 #{__('French')}
				//Francés: 
				textarea.col-lg-9(ng-model="smsContent.FR")
			div.col-lg-12.sms-content
				label.col-lg-2 #{__('Norwegian')}
				//Noruego: 
				textarea.col-lg-9(ng-model="smsContent.NO")
			div.col-lg-12.sms-content
				label.col-lg-2 #{__('Swedish')}
				//Sueco: 
				textarea.col-lg-9(ng-model="smsContent.SE")

		div(ng-class="{hidden: !(visibleTab=='status')}")
			br
			div.panel-group(id="accordion" accordion-control)
				div.panel.panel-default(ng-repeat="item in statusList | reverse")
					div.panel-heading
						h4.panel-title
							a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" collapse-click="link{{$index}}")
								{{item.title}}
					div.panel-collapse.collapse.in(id="link{{$index}}")
						div.panel-body(html-text="{{$index}}")
							

		div.button-div-padding
			button(type="button" class="btn btn-hs" ng-click="saveAlert($event)") #{__('Save Alert')}
			//Guardar Alerta
			&nbsp;
			button(type="button" class="btn btn-hp" ng-click="sendAlert($event)" ng-class="{disabled: alertSendButtonDisabled}") #{__('Send Alert')}
			//Enviar Alerta

	
	div(class="modal fade" id="savedMessage" aria-hidden="true" modal-show-trigger)
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-body")
					<p>{{modalMessage}}</p>
				div(class="modal-footer")
					button(type="button" class="btn btn-info" data-dismiss="modal" ng-click="showModal=false") #{__('OK')}
					//OK


	div.modal.fade(id="savedMessage" aria-hidden="true" please-wait style="margin-top: 200px")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h3(align="center") #{__('Please Wait...')}
					//Por favor espere…
				div.modal-body
					div.progress.progress-striped.active
						div.progress-bar(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
