include navbar
.col-md-2
	.row
		form(role="form" class="form-horizontal col-lg-12")
			div(class="form-group")
				label #{__('Group Name: ')}
				//Nombre del Grupo: 
				br
				input(type='text' ng-model='groupName')
				br
				br
				button(type="button" class="btn btn-primary" ng-click="addGroup()") #{__('Add Group')}
				//Adicionar Grupo
	.row
		table(class="table table-hover")
			thead
				th #{__('Group Name')} 
				//Nombre del Grupo
				th
			tbody
				tr(ng-if="groupArr=={}") 
					td #{__('No groups defined')} 
					//No se encontraron Grupos
				tr(ng-repeat="(key, group) in groupArr" ng-click="selectGroup(key, group.name)" ng-class="{warning: selectedRows.indexOf(key)>-1}")
					//td {{key}}
					td {{group.name}}
					td
						span(class="glyphicon glyphicon-minus-sign" ng-click="deleteGroup(key, $event)")
.col-md-9.col-md-offset-1(ng-class='{hidden: !showGroupDetails}')
	.row(ng-if="selectedRows[1]!=null")
		h4(style="color: grey")
			| #{__('Details')} {{selectedRows[1]}}
			//Detalles de {{selectedRows[1]}}
	.row
		.col-md-4
			| #{__('Name')}
			//Nombre: 
			input(type='text' enabled="false" ng-model="groupItem.name")
		.col-md-4
			| #{__('Contant #')}
			//# Contacto: 
			input(type='text' ng-model='groupItem.contact')
		.col-md-3
			button(type="button" class="btn btn-success" ng-click="addGroupItem()") #{__('Add Member')}
			//Adicionar Miembro
	.row
		table(class="table table-hover")
			thead
				th #{__('Name')} 
				//Nombre
				th #{__('Contact Number')} 
				//No de Contacto
				th
			tbody
				tr(ng-if="groupItemsArr==[]") 
					td #{__('No contacts defined')} 
					//No se han definido contactos
				tr(ng-repeat="item in groupItemsArr")
					td {{item.name}}
					td {{item.contact}}
					td
						span(class="glyphicon glyphicon-minus-sign" ng-click="deleteGroupItem($index)")
