    div
      #navbar.navbar.navbar-default
        ul.nav.navbar-nav(nav-pills-activation role='navigation', id="menuList")
          li
            a(href='am', selection='am') #{__('Population')}
            //Población
          li
            a(href='sra', selection='sra') #{__('Radio')}
            //Radio
          li
            a(href='sta', selection='sta') #{__('TV')}
            //TV
          li
            a(href='tvl', selection='tvl') #{__('TV List')}
            //TV Lista
          li
            a(href='sga', selection='sga') #{__('Group')}
            //Grupo
