include navbar
.col-md-10.col-md-offset-1(ng-init="tvAlertSent='#{__('An alert message was sent to the following TV operators: ')}'")
	.row
		label #{__('Alert Message: ')}
		//Mensaje de Alerta: 
		br
		textarea.col-md-12(rows="5" ng-model="alert") 
	.row
		table(class="table table-hover")
			thead
				th #{__('Service Provider')} 
				//Nombre del Proueedor de servicio
				th
			tbody
				tr(ng-if="tvArr=={}") 
					td #{__('No service providers defined')}
					//Hay operadores que se encuentran
				tr(ng-repeat="(key, tv) in tvArr" ng-click="selectGroup(key, tv.name)")
					td {{tv.name}}
					td 
						input(type='checkbox' ng-model="selected[key]" ng-click='createTvAlertList(selected[key], key)')
	.row
		button.btn.btn-hp(ng-click='sendTVAlert()' ng-class="{disabled: (alert.trim()=='' || numOfTvs==0)}") #{__('Send TV Alert')}
		//Enviar Alerta por TV