include navbar
.col-md-10.col-md-offset-1(ng-init="groupAlertSent='#{__('A group alert was sent to the following groups: ')}'")
	.row
		label #{__('Alert Message')}
		//Mensaje de Alerta: 
		br
		textarea.col-md-12(rows="5" ng-model="alert") 
	.row
		table(class="table table-hover")
			thead
				th #{__('Group Name')} 
				//Nombre de Grupo
				th
				th
			tbody
				tr(ng-if="groupArr=={}") 
					td #{__('No groups defined.')} 
					//No se encontraron Grupos
				tr(ng-repeat="(key, group) in groupArr" ng-click="selectGroup(key, group.name)")
					td {{group.name}}
					td 
						input(type='checkbox' ng-model="sms[key]" ng-click='createSmsAlertList(sms[key], key)')
						| #{__('UMS Alert')} 
						//SMS
					td 
						input(type='checkbox' ng-model='voice[key]' ng-click='createVoiceAlertList(voice[key], key)')
						| #{__('Voice')} 
						//Voz
	.row
		button.btn.btn-hp(ng-click='sendGroupAlert()' ng-class="{disabled: (alert.trim()=='' || (smsCount+voiceCount<1))}") #{__('Send Group Alert')}
		//Enviar Alerta Grupal
