include navbar
div(ng-controller="simController" class="col-lg-12", ng-init="theMsisdnText='#{__('The MSISDN: ')}';")
	span(ng-init="startSimulationText='#{__('Start Simulation')}'; simulationStateText='#{__('Start Simulation')}'")
	span(ng-init="isBeingAssignedTo='#{__('is being assigned to: ')}'; theCellId='#{__('The Cell Id ')}';")
	span(ng-init="nowContainsMsisdns='#{__('now contains these MSISDNS: ')}';")
	span(ng-init="stopSimulationText='#{__('Stop Simulation')}';") 
	span(ng-init="rangeError='#{__('The value range of simulation must be at least 30 secs.')}';")
	span(ng-init="simulationLogText='#{__('Waiting for simulation to start...')}'")
	div
		form(role="form" class="form-horizontal")
			div(class="form-group")
				label #{__('Simulation Interval: ')}
				&nbsp;
				&nbsp;
				label(ng-class="{hidden: editMode}") {{simulationInterval}}
				input(type='text' ng-model='simulationInterval' ng-class="{hidden: !editMode}")
				&nbsp;
				{{errors}}
				&nbsp; #{__('seconds')}
				&nbsp;
				span(class="glyphicon glyphicon-edit" ng-click="editSimSettings($event)")
				&nbsp;
				span(class="glyphicon glyphicon-floppy-disk" ng-click="saveSimSettings($event)")
				br
				button(type="button" class="btn btn-danger" data-toggle="button" ng-click="setSimulationState($event)") {{simulationStateText}}


	div
		label #{__('Simulation Log: ')}
		br
		textarea(readonly adjust-scroll rows="20" ng-model="simulationLogText" class="col-lg-12 log-text") 
		br
		br
		button(type="button" class="btn btn-primary" ng-click="simulationLogText=''") #{__('Clear Log')}